.main  {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.mid {
    max-width: 50%;
    text-align: center;
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: black;
    border-right-color: black;
    background-image: linear-gradient(to left, white, #E0FFFF, white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main p {
    font-family: serif;
    text-align: left;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
}

.main img {
    border-radius: 20%;
    width: 70%;
}

.main h1 {
    font-family: sans-serif;
    text-align: center;
}