.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reviews {
    width: 66%;
    border-left-style: solid;
    border-right-style: solid;
    border-right-color: black;
    border-left-color: black;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
.review {
    margin: 10px;
    padding: 5px;
    height: 100px;
    display: grid;
    border-style: solid;
    border-color: black;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    animation-duration: 1s;
    animation-name: slidein;
}

.name {
    font-family: sans-serif;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 125px;
    text-align: left;
    border-right-style: dashed;
    border-right-color: gray;
}

.message {
    font-family: serif;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: left;
    padding-left: 10px;
}

@keyframes slidein {
    from {
        transform: translateY(900px);
    }
  
    to {
        transform: translateY(0);
    }
}

@media (max-width: 800px) {
    .reviews {
        width: 100%;
        border: 0;
    }

    .review {
        margin-bottom: 7px;
    }

    .name {
        font-size: 13px;
        width: 80px;
    }

    .message {
        font-size: 13px;
    }
}