.main {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-image: url("https://i.imgur.com/4k638Ai.png");
    background-repeat: repeat;
    border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: goldenrod;
    margin-bottom: 30px;
}

.slideshow {
    max-width: 700px;
    position: relative;
    margin: auto;
}

.slides {
    width: 100%;
    height: 100%;
    display: none;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

#curr {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.text {
    font-family: sans-serif;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.pars { 
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftcard {
    width: 66%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-bottom: 50px;
}

.leftcardtext {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font-family: serif;
}

.leftcard p {
    margin-left: 10px;
    font-family: serif;
    text-align: left;
}

.leftcard img {
    border-radius: 10%;
    width: 33%;
    max-height: 230px;
    object-fit: cover;
    object-position: 50% 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#grubhub1 {
    width: 50%;
}

#grubhub1 img{
    width: 100%;
}

#grubhub2 {
    display: none;
}

h1 {
    font-family: sans-serif;
}

.burgerad {
    width: 66%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-bottom: 50px;
}

.burgerad img {
    border-radius: 10%;
    width: 30%;
    max-height: 230px;
    object-fit: cover;
    object-position: 50% 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.adtext {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font-family: serif;
    width: 70%;
}

.adtext p {
    font-family: serif;
    text-align: left;
}
  
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@media (max-width: 800px) {
    .leftcard {
        width: 100%;
    }

    .leftcard h1 {
        font-size: 18px;
    }

    .leftcard p {
        font-size: 12px;
    }

    .leftcard img {
        width: 120px;
        object-fit: fill;
        height: 90px;
    }

    .burgerad {
        width: 100%;
    }

    .burgerad h1 {
        font-size: 16px;
    }

    .burgerad p {
        font-size: 11px;
    }

    .burgerad img {
        width: 120px;
        height: 120px;
    }

    #grubhub1 {
        display: none;
    }

    #grubhub2 {
        display: block;
    }
}